.body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
   
}
.top {
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 10em;
    color: white;
    text-align: center;
    }
#mouse {
    padding-top: 10em;
    padding-bottom: 5px;
}
.about{
    text-align: center;
    padding: 20px;
}

.services{
    background-image: url("../images/s_image.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5em;
    text-align: center;
}
.work{
    text-align: center;
}

#designText, #developmentText, #productText{
    display:none;
}
.portfolio{
    text-align: center;
    margin: 10px 50px;
    width: 50;
    position: relative;
    
}
.work h6{
    font-weight: bold;
}
#work1text,#work2text,#work3text,#work4text,#work5text,#work6text,#work7text,#work8text{
    position: relative;
    display:none;
    margin-top: -120px;
    margin-left: 20px;
    color:black;
    border-style: solid;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#work1, #work2, #work3, #work4, #work5,#work6,#work7,#work8{
    
    margin: 10px;
    width: 100%;    
}
.portfolioImg:hover {
    border-style: solid;
    border-width: 2px;
    border-color: brown;
    }
.contact{
    color: white;
    background-image: url("../images/c_image.jpg");
    background-position:center;
    background-size: cover;
    text-align: center;
    padding: 20px;
}
#name, #e-mail {
    background-color: rgb(0, 0, 0,0);
}
#name::placeholder, #e-mail::placeholder, #feedback::placeholder{
    color: white;
}
#feedback{
    color: white;
    margin-top: 2em;
    height:15em;
    background-color: rgb(0, 0, 0,0);
}

.social{
    text-align: center;
    margin: 20px auto;
}
.footer{
    text-align: center;
}


