.top {
    background-image: url("../images/h_img.jpg");
    text-align: center;
    background-position:center;
    background-size: cover;
    padding-top: 20px;
  }
.services{
    background-image: url("../images/s_image.jpg");
    background-size: cover;
    background-position:center;
    text-align: center;

}
.contact{
    background-image: url("../images/c_image.jpg");
    text-align: center;
    background-position:center;
    background-size: cover;
}